<WEBOBJECT NAME=ContentPage>
	<WEBOBJECT NAME=ConditionalAjouter>
	<WEBOBJECT NAME=formTheme>
	<table cellpadding="1" cellspacing="0" border="0" width="100%" class="boxTitle">
		<tr>
			<td COLSPAN=3>
				<font class="subTitleInverse">&nbsp;La d&eacute;finition d'un theme</font>
			</td>
		</tr>
		</table>
		<table cellpadding="5" cellspacing="0" border="0" width="100%" class="boxContents">
		<TR>
			<TD ROWSPAN=2 COLSPAN=2><WEBOBJECT NAME=thBrowser></WEBOBJECT> <WEBOBJECT NAME=thAssociated2></WEBOBJECT><P><WEBOBJECT NAME=thUp></WEBOBJECT> <WEBOBJECT NAME=thDown></WEBOBJECT></P></TD>
			<TD ALIGN=RIGHT>Nom*</TD>
			<TD><WEBOBJECT NAME=thName1></WEBOBJECT></TD>
		</TR>
		<TR>
			<TD ALIGN=RIGHT>Commentaire</TD>
			<TD><WEBOBJECT NAME=thComment1></WEBOBJECT></TD>
		</TR>
		<TR>
			<TD><WEBOBJECT NAME=valider2></WEBOBJECT></TD>
			<TD></TD><TD></TD>
			<TD ALIGN=RIGHT><WEBOBJECT NAME=thModify4></WEBOBJECT>
			(*Champ obligatoire)</TD>
		</TR>
	</table>
	
	<br>
	<strong><font color="#FF0000"><WEBOBJECT NAME=Conditional1>Le formulaire est incomplet</WEBOBJECT></font></strong><br>
<br>
<br>
<br>
<br>
</WEBOBJECT><WEBOBJECT NAME=formApp>
<table cellpadding="1" cellspacing="0" border="0" width="100%" class="boxTitle">
		<tr>
			<td COLSPAN=3>
				<font class="subTitleInverse"><b>&nbsp;La d&eacute;finition d'une application</b></font>
			</td>
		</tr>
	</table>
	<table cellpadding="5" cellspacing="0" border="0" width="100%" class="boxContents">
			<TR>
				<TD ROWSPAN=8><WEBOBJECT NAME=AppBrowser></WEBOBJECT> 
				<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
				<TABLE>
					<TR>
						<TD><WEBOBJECT NAME=up></WEBOBJECT> <WEBOBJECT NAME=down></WEBOBJECT></TD>
					</TR>
					<TR>
						<TD></TD>
					</TR>
				</TABLE>
				<P><WEBOBJECT NAME=separateur></WEBOBJECT></P></TD>
				<TD ALIGN=RIGHT>Nom (long)*</TD>
				<TD><WEBOBJECT NAME=AppLongName></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD ALIGN=RIGHT>Nom (court) *</TD>
				<TD><WEBOBJECT NAME=AppShortName></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD ALIGN=RIGHT>URL de lancement*</TD>
				<TD><WEBOBJECT NAME=AppURL></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD ALIGN=RIGHT>Type*</TD>
				<TD><WEBOBJECT NAME=AppType></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD ALIGN=RIGHT>Authentification*</TD>
				<TD><WEBOBJECT NAME=AppAuth></WEBOBJECT></TD>
			</TR><TR>
				<TD ALIGN=RIGHT>Commentaire</TD>
				<TD><WEBOBJECT NAME=AppComment></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD  ALIGN=RIGHT>URL de l'icone</TD>
				<TD><WEBOBJECT NAME=AppIcone></WEBOBJECT></TD>
			</TR>
			<TR>
				
				<TD ALIGN=RIGHT>Theme(s) associ&eacute;(s)*<P>S&eacute;l&eacute;ction multiple possible</P>
				</TD>
				<TD><WEBOBJECT NAME=thAssociated></WEBOBJECT></TD>
			</TR><TR>
				<TD><WEBOBJECT NAME=Delete></WEBOBJECT></TD>
				<TD></TD>
				<TD ALIGN=RIGHT><WEBOBJECT NAME=Modify></WEBOBJECT>
					(*Champ obligatoire)</TD>
			</TR>
		</TABLE>
		<P><strong><font color="#FF0000"><WEBOBJECT NAME=Conditional2>Le formulaire est incomplet</WEBOBJECT></font></strong></P>
	</WEBOBJECT></WEBOBJECT></WEBOBJECT>