<WEBOBJECT NAME=defaultPage>
<p align="center" class="title">Cryptage de mot de passe</p>

<div align="center">
<table cellpadding="1" cellspacing="0" border="0">
<tr><td class="boxBorder">
<table cellpadding="10" cellspacing="0" border="0" width="100%" class="boxContents">
<tr><td align="center">
<WEBOBJECT NAME=formPasswd>
<font class="textEntry">Veuillez saisir le mot de passe &agrave; crypter&nbsp;:</font>
<BR><WEBOBJECT NAME=txtPasswd></WEBOBJECT><BR>
<WEBOBJECT NAME=btValide></WEBOBJECT>
</WEBOBJECT>
</td></tr></table>
</td></tr></table>

<WEBOBJECT NAME=siCrypte>
&nbsp;<br>
<WEBOBJECT NAME=note>
	Mots de passe crypt&eacute;&nbsp;: &nbsp;<WEBOBJECT NAME=strCryptedPass></WEBOBJECT>
</WEBOBJECT>
</WEBOBJECT>
</div>

<WEBOBJECT NAME=footer></WEBOBJECT>
</WEBOBJECT>
