<WEBOBJECT NAME=defaultPage>
<p align="center" class="title">Cryptage de dictionnaire de connexion &agrave; la base de
	donn&eacute;es</p>

<div align="center">
<table cellpadding="1" cellspacing="0" border="0">
<tr><td class="boxBorder">
<table cellpadding="10" cellspacing="0" border="0" width="100%" class="boxContents">
<tr><td align="center">
<WEBOBJECT NAME=formDico>
<font class="textEntry">Veuillez remplire le dictionnaire de connexion&nbsp;:</font>
<hr size="1" noshade>
<div align="left">
	User Name &nbsp;:&nbsp;<WEBOBJECT NAME=txtUserName></WEBOBJECT><br>
Password&nbsp;:&nbsp;<WEBOBJECT NAME=txtPasswd></WEBOBJECT><br>
ServerId&nbsp;:&nbsp;<WEBOBJECT NAME=txtServerId></WEBOBJECT><br>
URL&nbsp;:&nbsp;<WEBOBJECT NAME=txtURL></WEBOBJECT><br>
</div>
<WEBOBJECT NAME=btValide></WEBOBJECT>
</WEBOBJECT>
</td></tr></table>
</td></tr></table>

<WEBOBJECT NAME=siCrypte>
&nbsp;<br>
<WEBOBJECT NAME=note>
<div align="left">
	Dictionnaire crypt&eacute; (la ligne &agrave; copier dans le fichier de
	configuration)&nbsp;:
<hr size="1" noshade>
	<WEBOBJECT NAME=strDico></WEBOBJECT>
</div>
</WEBOBJECT>
</WEBOBJECT>
</div>

<WEBOBJECT NAME=footer></WEBOBJECT>
</WEBOBJECT>
