{
    attributes = (
        {
            columnName = "MAX_ID"; 
            externalType = NUMBER; 
            name = maxId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (maxId); 
    className = LRRecord; 
    classProperties = (maxId); 
    externalName = none; 
    externalQuery = "SELECT MAX(to_number(APPLI_ID)) MAX_ID FROM APPLICATION"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (maxId); }; 
    isReadOnly = Y; 
    name = AppliID; 
    primaryKeyAttributes = (maxId); 
}
