<WEBOBJECT NAME=defaultPage>

<div align="center">
<table border="0">
<tr>
  <td align="right" valign="middle"><WEBOBJECT name=imgLogo></WEBOBJECT></td>
  <td align="left" valign="middle" class="mainTitle">&nbsp;Administration des services CRI<br>&nbsp;Service d'Authentification</td>
</tr>
<tr><td colspan="2"></td></tr>
</table>

<WEBOBJECT name=imgLigneJaune></WEBOBJECT>

&nbsp;<br>
&nbsp;<br>
<table border="0">
<tr valign="middle">
  <td><WEBOBJECT NAME=imgClefs></WEBOBJECT></td>
  <td class="title">&nbsp;Le mot de passe est n&eacute;cessaire pour acc&eacute;der &agrave; l'application</td>
</tr>
</table>

<table width="70%" border="0"><tr><td align="center">
<hr class="line">
<WEBOBJECT NAME=adminLogin></WEBOBJECT>
<hr class="line">
</td></tr></table>

<br>
<i>Pour toute question de connexion &agrave; cette application,<br>
<WEBOBJECT NAME=mailAdmin></WEBOBJECT></i><p>&nbsp;</p>
<p class="textNote"><WEBOBJECT NAME=strCopyright></WEBOBJECT></p>
</div>

</WEBOBJECT>